<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Tom Harvey's Website</title>
        <link href="/content/screen.css" rel="stylesheet" media="screen" />
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/avenir.font.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/cufon.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/tomharvey.js")"></script>
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link href="@Url.Content("~/content/images/favicon.png")" rel="icon" type="image/png" >	
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <img src="/content/images/logo.png" alt="Tom Harvey's Logo" title="Tom Harvey's Logo" />
                    <h2>iBuildStuff</h2>
                    <h3>Tom Harvey's Personal Website</h3>
                </div>
                <nav>
                    <ul>
                        <li>@Html.ActionLink("home page", "index", "home", null, new { title = "the home page" })</li>
                        <li>@Html.ActionLink("portfolio", "index", "portfolio", null, new { title = "view some of my previous work" })</li>
                        <li>@Html.ActionLink("open source", "index", "opensource", null, new { title = "see what I've given back to the community" })</li>
                        <li>@Html.ActionLink("get in touch", "index", "getintouch", null, new { title = "get in contact with me" })</li>
                        <li><a href="http://blog.ibuildstuff.co.uk" title="see what I've written">blog</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </header>

        <div class="container">
            <section id="content">
                <h1>@ViewBag.Title</h1>

                @RenderBody()

            </section>
            <div id="sidebar">
                @ViewBag.Sidebar

            </div>
            <div class="clear"></div>

            <footer>
                Tom Harvey &copy; @DateTime.Now.Year. All Rights Reserved
            </footer>
        </div>
        <script type="text/javascript" src="@Url.Content("~/scripts/ga.js")"></script>
    </body>
</html>