@using TomHarvey.Website.Models.OpenSource
@model OpenSourceProjectDetails

    <ul class="downloadbuttons">
        <li><a href="@Model.Project.CodebaseUrl" target="_blank" title="Go to the Code for @Model.Project.Title">Show Me The Code!</a></li>
    </ul>
    <br />

    @{
        if (Model.Links.Count() > 0)
        {
            <h3>Other Links</h3>
            <ul>
                @{
                    foreach (var link in Model.Links)
                    {
                        <li><a href="@link.LinkLocation" target="_blank">@link.LinkName</a></li>
                    }
                }
            </ul>
            <br />
        }
    }

    @{
        if (Model.OtherProjects.Count() > 0)
        {
            <h3>Other Open-Source Projects</h3>
            <ul>
                @{
                    foreach (var project in Model.OtherProjects)
                    {
                        <li>@Html.ActionLink(project.Title, "details", "opensource", new { id = project.FriendlyUrl }, null)</li>
                    }
                }
            </ul>
        }
    }